/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 22 nov. 2017, 16:32:17
    Author     : Formation
*/

header{
    color: white;
    background-color:black;
    height:50px;
    width: 100%;
    text-align: center;
    margin-top: -20px;
    right: 0;
}

body{
    background-color: gray;
}

#container{
    display: flex;
    background-color: lightgray;
    min-height: 100vh;
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 50px;
}

#center{
    text-align: center;
}

table{
    width: 100%;
}

.navig{
    width: 15%;
}

.contenu{
    width: 85%;
}

footer{
    color: white;
    background-color:black;
    bottom:0;
    left: 0;
    height:50px;
    text-align: center;
    border-radius: 10px;
}


